@import 'variables';

* {
  box-sizing: border-box;
}

a {
  color: $color-black!important;
  text-decoration: none!important;
  padding: 20px;
}

footer {
  background-color: $color-white;
  margin: 20px 0;
  text-align: center;
  #email {
    padding: 0 10px;
    margin: 0 10px;;
  }
  form {
    padding-bottom: 20px;
    margin: 0 10px;
  }
}

.header {
  position: fixed;
  width: 100%;
  background-color: $color-white;
  z-index: 1;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.logo {
  height: 150px;
  width: 150px;
}

.logo-div {
  text-align: center;
}

#music {
  background-color: $color-black!important;
  padding-top: 150px;
}

.nav-link {
  font-size: 1.2rem;
}
.nav-ul {
  margin: auto 0;
  padding: 0;
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding: 0;

  }
}

// .nav-ul ul{
//   display: flex;
//   justify-content: space-around;
//   margin: auto 0;
//   padding: 0;
// }

.pic-div {
  height: 100vh;
  text-align: center;
  padding: 50px;
}