@import 'variables';

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

a {
  color: $color-black!important;
  text-decoration: none!important;
}

body {
  background-color: $color-black!important;
}

.flex-row {
  display: flex;
  text-align: center;
  justify-content: space-around;
  // div {
  //   width: 30%;
  //   flex-grow: 1;
  // }
}

.footer-flex-container {
  background-color: $color-white;
  min-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  .flex-row {
    padding: 10px 0;
    justify-content: center;
    flex-grow: 1;
  }
  #email {
    margin: 0 10px;
  }
  @media (min-width: 768px) {
    flex-direction: row;
    div {
      width: 50%;
    }
    .flex-row {
      justify-content: center;
      padding: 20px 0;
    }
  }
}

header {
  position: fixed;
  min-width: 100%!important;
  background-color: $color-white;
  z-index: 1;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

label {
  margin: 0;
}

.logo {
  height: 150px;
  width: 150px;
}

.logo-div {
  text-align: center;
}

#title-page,
#music {
  padding-top: 150px;
  min-height: 100vh;
}

main  {
  color: $color-white;
}

#music {
  text-align: center;
}

.nav-link {
  font-size: 1.2rem;
  padding: 5px 0;
  text-align: center;
}
.nav-ul-div {
  margin: auto 0;
  padding: 0;
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding: 0;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 0;
    }

  }
}

.pic-div {
  height: 100vh;
  text-align: center;
  padding: 50px;
}